// fonts

@font-face {
	font-family: 'ACaslon';
	src: url("../src/fonts/ACaslonPro-Regular.otf");
}

@font-face {
	font-family: 'Springville';
	src: url("../src/fonts/Springville-Regular3.otf");
}

// vars

$font-family-primary: "Springville", serif;
$font-family-secondary: "ACaslon", serif;
$font-family-tertiary: "Arial", sans-serif;

//responsive

@mixin breakpoint($point) {
  
  @if $point==cinema {
    @media (min-width: 90em) {
      @content;
    }
  }

  @if $point==desktop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point==laptop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point==tablet {
    @media (min-width: 48em) {
      @content;
    }
  } @else if $point==ipad-landscape {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      @content;
    }
  } @else if $point==phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point==mobileonly {
    @media (max-width: 47.9375em) {
      @content;
    }
  } @else if $point==tabletonly {
    @media (min-width: 48em) and (max-width: 63.9375em) {
      @content;
    }
  }
}
/*** example of breakpoint usage */
/*
.current_selector {
    // mobile here
    background: red;
    @include breakpoint(tablet){
        // tablet min-width is 768px
        // overrides mobile
        background: green;
    }
    @include breakpoint(desktop) {
        // desktop min-width is 1120px
        // overrides tablet
        background: blue;
    }
}
*/

* {
  box-sizing: border-box;
}

// nav

.navbar {
  z-index: 10;
  background-color: white;
  position: sticky;
  width: auto;
  align-items: center;
  display: flex;
  max-height: 122px;
  justify-content: space-between;
  padding: 4% 1% 4% 1%;
  top: 0;

  @include breakpoint(tablet) {
    padding: 4% 8% 4% 8%;
  }

  .logo {
      width: 140px;
      height: auto;
      justify-content: flex-start;
    
    @include breakpoint(phablet){
      width: 195px;
      height: auto;
      justify-content: flex-start;
    }
  
  }

  &-items {
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
    color: #828282;
    font-family: arial;
    font-weight: bold;
  }
}

.burger-menu {
  margin-top: 8px;
  cursor: pointer;
  margin-left: 20%;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 20;
  
}

.login {
  cursor: pointer;
  margin-left: 20%;
  flex-direction: row;
  justify-content: flex-end;
  text-transform: uppercase;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.dropdown {
  
  // position: fixed;
  position: absolute;
  align-self: flex-end;
  text-align: right;
  margin-top: 20px;
  

  ul {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
  }

  li {
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: white;
    align-self: flex-end;
  }

  li:hover {
    background-color: #bab9b9;
    align-self: flex-end;
    opacity: 50%;
  }

}

//Carousel

.carousel {
  font-family: $font-family-primary;
  color: #ffffff;
  margin: auto;
  max-width: 1440px;
  background-size: cover;
  // padding-bottom: 5%;

  .control-dots {
    position: relative;
    bottom: 0;
    margin: 10px 0 20px 0;
    text-align: center;
    width: 100%;
    padding-inline-start: 0px;
  }

  &-wrapper {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 1440px;
    top: 26%;
    
  }

  &-copy {
    padding-left: calc(100vw * 0.1);
    padding-right: calc(100vw * 0.1);
  }

  &-title {
    font-size: 4.8vw;
    line-height: 0px;
    // @include breakpoint(tablet) {
    //   font-size: 44px;
    //   line-height: 0px;
    // }
  }

  &-date {
    font-family: $font-family-secondary;
    font-size: 3vw;
    line-height: 2px;
    // @include breakpoint(tablet) {
    //   font-size: 26px;
    //   line-height: 0px;
    // }
  }

  &-body {
    font-family: $font-family-secondary;
    font-size: 2.6vw;
    // @include breakpoint(tablet) {
    //   font-size: 17px;
    //   line-height: 16px;
    // }
  }
}

// main

.main-grid {
  display: flex;
  max-width: 1440px;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 5%;
    font-family: $font-family-primary;
    
    
    &-wrapper {
      justify-content: space-evenly;
      padding: 0 5% 5% 5%;
      flex-grow: 1;
    width: 50%;

      @include breakpoint(tablet) {
        width: 30%;
      }
      
      
        
      }
      
    }
  

  .main {
    // width: 50%;
    // @include breakpoint(tablet) {
    //  width: 32%;
    // }
    &-img {
      width: 100%;
      
    }
    &-body {
      font-size: 27px;
      line-height: 28px;
      text-decoration: none;
      color: black;
      word-wrap: break-word;
      @include breakpoint(phablet){
        font-size: 48px;
        line-height: 47px;
      }
      &:hover{
        cursor: pointer;
        text-decoration: underline;
      }
    }
    &-date {
      font-family: $font-family-tertiary;
      text-transform: uppercase;
      color: #767676;
      font-size: 10px;
      margin: 10% 0 10% 0;
      @include breakpoint(phablet) {
        font-size: 11px;
      }
    }

    &-sub, &-link {
      font-family: $font-family-secondary;
      color: #131313;
      font-size: 12px;
      margin: 8% 0 15% 0;
      @include breakpoint(phablet) {
        font-size: 14px;
      }
    }

    &-link {
      cursor: pointer;
      text-transform: uppercase;
    }
  }

  .separator {
    color: #dbdbdb;
    margin-bottom: 15%;
  }

  // footer

  .footer {
    margin: 0 20% 5% 20%;
    text-align: center;
    font-family: $font-family-tertiary;
    font-weight: 700;
    font-size: 11px;
    color: #000000;
    text-transform: uppercase;

    &-social {
      color: #000000;
    }
  }